$prim: #8bb940;
$sec: #669f09;
$tri: #007f1a;
$danger: #ff6c1a;
$alert: #f9e453;
$gray1: #ffffff80;
$light: #fff;
$dark: #333;

$title: 'Sansita';
$text: 'Open Sans';
$logo: 'Pacifico';

$font-xs: 11px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 24px;
$font-xl: 48px;
$font-xxl: 72px;
