.login_main_cont {
  background: url("/static/bg-login.jpg") top center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.login_cont {
  width: 60vw;
  height: 70vh;
  background: #fff;
  display: flex; }
  .login_cont .green_cont {
    width: 50%;
    height: 100%;
    background: #333;
    background-image: url("/static/random/r16.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    .login_cont .green_cont header {
      align-self: flex-start;
      padding: .3rem; }
    .login_cont .green_cont .green_logo {
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .login_cont .green_cont .green_logo h1 {
        font-size: 72px;
        margin: 0; }
        .login_cont .green_cont .green_logo h1 svg {
          width: 80px; }
    .login_cont .green_cont button {
      background: transparent;
      border: none;
      outline: none;
      border: 3px solid #fff;
      color: #fff;
      background: #8bb940;
      padding: .5rem;
      font-weight: 300;
      text-transform: capitalize;
      transition: 250ms ease; }
      .login_cont .green_cont button:focus {
        outline: none; }
      .login_cont .green_cont button:focus {
        outline: none; }
      .login_cont .green_cont button:hover {
        background: #669f09;
        color: #fff; }
    .login_cont .green_cont small {
      display: block;
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      color: #fff;
      width: 100%;
      text-align: center;
      font-size: 11px; }

.login_register_cont {
  height: 100%;
  width: 50%;
  padding: 1rem; }
  .login_register_cont h1 {
    margin-top: 20%;
    margin-bottom: 2rem;
    color: #8bb940;
    text-align: center;
    text-transform: capitalize; }
  .login_register_cont form {
    position: relative;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .login_register_cont form label {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      margin-bottom: 2rem; }
    .login_register_cont form p {
      text-transform: uppercase;
      color: #bbb;
      font-size: 16px; }
    .login_register_cont form input {
      border: none;
      border-bottom: 1px solid #bbb;
      transition: 250ms ease;
      font-size: 24px;
      padding: .5rem; }
      .login_register_cont form input:focus {
        outline: none;
        border-color: #8bb940; }

footer.login_register_cont {
  display: flex;
  justify-content: center;
  align-items: center; }
  footer.login_register_cont .btn_loogin_register {
    background: transparent;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    margin: 0 .5rem;
    text-transform: capitalize;
    border: 2px solid #fff; }
    footer.login_register_cont .btn_loogin_register:focus {
      outline: none; }
  footer.login_register_cont .btn_active {
    color: #8bb940;
    font-weight: 900; }
  footer.login_register_cont .btn_inactive {
    background: linear-gradient(180deg, #8bb940, #669f09, #007f1a);
    color: #fff; }
    footer.login_register_cont .btn_inactive:hover {
      border-color: #8bb940; }

.register_login_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .register_login_cont h1 {
    color: #8bb940;
    text-transform: capitalize; }
  .register_login_cont form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem; }
    .register_login_cont form input {
      font-size: 14px;
      margin-bottom: 1rem;
      width: 100%;
      padding-left: .5rem; }
    .register_login_cont form .fullName {
      display: flex; }
    .register_login_cont form p {
      margin-right: auto;
      justify-self: flex-start; }
    .register_login_cont form .birth_sex_main {
      display: flex; }
      .register_login_cont form .birth_sex_main input[type=date] {
        border: 1px solid #bbb; }

@media (max-width: 576px) {
  .login_cont {
    flex-direction: column;
    width: 90vw; }
    .login_cont .green_cont {
      height: 40%;
      width: 100%;
      padding: .1rem; }
      .login_cont .green_cont .green_logo header {
        margin: 0; }
      .login_cont .green_cont .green_logo h1 {
        font-size: 16px; }
        .login_cont .green_cont .green_logo h1 svg {
          width: 45px; }
      .login_cont .green_cont .green_logo p {
        font-size: 11px;
        margin: .3rem; }
      .login_cont .green_cont button {
        padding: .1rem;
        border-width: 1px;
        font-size: 11px;
        margin: .3rem; }
  .login_register_cont {
    width: 100%; }
    .login_register_cont h1 {
      font-size: 24px;
      margin: initial;
      margin-bottom: 1rem; }
    .login_register_cont form p {
      font-size: 11px;
      margin: .3rem;
      width: 100%; }
    .login_register_cont form input {
      width: 100%;
      font-size: 14px;
      margin: 0;
      padding: 0; } }

