@import '../layout/variables';
@import '../layout/mixins';

.login_main_cont{
  background: url('/static/bg-login.jpg') top center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login_cont{
  width: 60vw;
  height: 70vh;
  background: $light;
  display: flex;
  .green_cont{
    width: 50%;
    height: 100%;
    background: $dark;
    background-image: url('/static/random/r16.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    header{
      align-self: flex-start;
      padding: .3rem;
    }
    .green_logo{
      color: $light;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      //justify-self: center;
      //margin-top: auto;
      h1{
        font-size: $font-xxl;
        margin: 0;
        svg{
          width: 80px;
        }
      }

    }
    button{
      @include btnFormat();
      border: 3px solid $light;
      color: $light;
      background: $prim;
      padding: .5rem;
      font-weight: 300;
      text-transform: capitalize;
      transition: 250ms ease;
      &:focus{
        outline: none;
      }
      &:hover{
        background: $sec;
        color: $light;
      }
    }
    small{
      display: block;
      //margin-top: auto;
      //justify-self: flex-end;
      border-top: 1px solid $light;
      border-bottom: 1px solid $light;
      color: $light;
      width: 100%;
      text-align: center;
      font-size: $font-xs;
    }
  }
}

.login_register_cont{
  height: 100%;
  width: 50%;
  padding: 1rem;
  h1{
    margin-top: 20%;
    margin-bottom: 2rem;
    color: $prim;
    text-align: center;
    text-transform: capitalize;
  }
  form{
    position: relative;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      margin-bottom: 2rem;
    }
    p{
      text-transform: uppercase;
      color: #bbb;
      font-size: $font-md;
    }
    input{
      border: none;
      border-bottom: 1px solid #bbb;
      transition: 250ms ease;
      font-size: $font-lg;
      padding: .5rem;
      &:focus{
        outline: none;
        border-color: $prim;
      }
    }
  }
}

footer.login_register_cont{
  display: flex;
  justify-content: center;
  align-items: center;
  .btn_loogin_register{
    @include btnFormat();
    padding: 1rem 2rem;
    margin: 0 .5rem;
    text-transform: capitalize;
    border: 2px solid $prim;
    transition: 250ms ease;
  }
  .btn_active{
    @include gradient(180);
    color: $light;
    font-weight: 900;
    transition: 250ms ease;
  }
  .btn_inactive{
    color: $prim;
    transition: 250ms ease;
    &:hover{
      @include gradient(180);
      color: $light;
    }
  }
}

.register_login_cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1{
    color: $prim;
    text-transform: capitalize;
  }
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
    input{
      font-size: $font-sm;
      margin-bottom: 1rem;
      width: 100%;
      padding-left: .5rem;
    }
    .fullName{
      display: flex;
    }
    p{
      margin-right: auto;
      justify-self: flex-start;
    }
    .birth_sex_main{
      display: flex;
      input[type=date]{
        border: 1px solid #bbb;
      }
    }
  }
}

@media (max-width: 576px){
  .login_cont{
    flex-direction: column;
    width: 90vw;
    height: 87vh;
    .green_cont{
      height: 40%;
      width: 100%;
      padding: .1rem;
      .green_logo{
        header{
          margin: 0;
        }
        h1{
          font-size: $font-md;
          svg{
            width: 45px;
          }
        }
        p{
          font-size: $font-xs;
          margin: .3rem;
        }
      }
      button{
        padding: .1rem;
        border-width: 1px;
        font-size: $font-xs;
        margin: .3rem;
      }
    }
  }
  .login_register_cont{
    width: 100%;
    h1{
      font-size: $font-lg;
      margin: initial;
      margin-bottom: 1rem;
    }
    form{
      p{
        font-size: $font-xs;
        margin: .3rem;
        width: 100%;
      }
      input{
        width: 100%;
        font-size: $font-sm;
        margin: 0;
        padding: 0;
      }
    }
  }
}
