@import '../../layout/variables';
@import '../../layout/mixins';

.creator_main_cont{
  background: #fff;
  header{
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
      color: $prim;
      margin: 0;
    }
    button{
      @include btnFormat();
      transition: 250ms ease;
      &:hover{
        color: $prim;
      }
    }
  }
  .body{
    height: 80vh;
    position: relative;
  }
  footer{
    display: flex;
    textarea{
      flex-grow: 1;
      resize: none;
    }
    button{
      @include btnFormat();
      background: $prim;
      color: rgba(255, 255, 255, .8);
      transition: 250ms ease;
      &:hover{
        background: $sec;
        color: $light;
      }
    }
  }
}

.creator_greenpost_main{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  label{
    position: relative;
    font-size: 5rem;
    color: $light;
    transition: 250ms ease;
    &:hover{
      cursor: pointer;
      color: $prim;
    }
  }
  input[type=file]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
  }
  svg{
    width: 80px;
    path{
      stroke: $dark;
      stroke-width: 2px;
    }
  }
  .history_main_cont{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 500ms ease;
    background: rgba(0, 0 , 0, .5);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    header{
      padding: 0;
      h2{
        color: $light;
        text-transform: capitalize;
      }
    }
    .body{
      flex-grow: 1;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      textarea{
        resize: none;
        width: 50%;
        height: 20%;
        border-radius: 3px;
      }
    }
    footer{
      display: flex;
      justify-content: flex-end;
    }
  }
  .arrow_history{
    @include btnFormat();
    position: absolute;
    top: 50%;
    right: .5rem;
    font-size: 2rem;
    color: $light;
    transition: 250ms ease;
    &:hover{
      color: $prim;
    }
  }
}

@media(min-width:998px){
  .creator_greenpost_main{
    .history_main_cont{
      width: 50%;
    }
  }
}
